// Spaces
$space-xs: 2px;
$space-sm: 4px;
$space-md: 8px;
$space-lg: 12px;

// Border radius
$radius-sm: 6px;

// Fonts / Typography
$font-size-base: 1em;
$font-size-lg: 1.2em;

$line-height-base: 1.25;

// Colors
$red-1: #db2424;