@import "../variables";

.cart-total-message {
    // mobile-first styling
    background-color: $color-cart-message-bg;
    color: $color-cart-message-text;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 16px;
    border: 1px solid $color-cart-message-border;
    transition: $transition-cart-message;
    width: 100%;
    margin: 0.6rem 0;

    & p {
        margin-bottom: 0;
    }

    &:hover {
        cursor: pointer;
        border: 1px solid $color-cart-message-hover-border;
        background-color: $color-cart-message-hover-bg;
        color: $color-cart-message-hover-text;
    }

    // Media queries for tablet and laptop breakpoints
    @media (min-width: $breakpoint-tablet) {
        width: 80%;
    }

    @media (min-width: $breakpoint-laptop-l) {
        width: 70%;
    }
}