.product-number {
    color: yellow;
    font-size: 0.875em;
    padding-bottom: 0.938em;
    padding-top: 0.938em;
    font-weight: 200;
}

.recommandations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    height: auto;
    margin-top: 1.6rem;

    .product {
        height: 100%;

        .price,
        .tile-body-footer {
            white-space: nowrap;
        }

        .product-test-class {
            display: block;
            visibility: hidden;
        }
    }

    @media screen and (min-width: 426px) and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 425px) {
        grid-template-columns: 1fr;
    }
}